.carta{
    margin-top: 13px;
    margin-bottom: 13px;
}
.carta2{
    margin-top: 10px;
    margin-bottom: 30px;
}

.letra{
    font-size: small;
}

ion-content {
    --background: none;
    background-color: #f3f4f5;
}

ion-toolbar {
    --background: none;
    background-color: #f3f4f5;
}
