.icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    width: 100%;
    height: 100px;
}

ion-content {
    --background: none;
    background-color: #f3f4f5;
}

ion-toolbar {
    --background: none;
    background-color: #f3f4f5;
}

h3 {
    margin-top: -1%;
}

ion-card{
    margin-top: 13px;
    margin-bottom: 13px;
    padding: -100%;
}

ion-col{
    margin-top: -10px;
    margin-bottom: -10px;
}
